.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-without-line {
  text-decoration: none;
}

.logo {
  height: 25px;
}

.powered {
  display: inline-block;
  vertical-align: super;
  margin-left: 5px;
}
