.header {
  background-color: #24292e;
  color: #fff;
  width: 1000%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
  position: fixed;
  top: 0;
}


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav img {
  margin: 0 auto;
  padding-right: 1rem;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuItem {
  margin-right: 20px;
}

.menuItem:last-child {
  margin-right: 0;
}

.menuItem a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* transition: color 0.2s ease-in-out; */
}

.menuItem a:hover {
  color: #05b1b1;
}
