/* .header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-left: 1rem;
}

.menuItem:first-child {
  margin-left: 0;
}


.grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.card p {
  font-size: 18px;
  color: #333;
} */

.header {
  background-color: #24292e;
  color: #fff;
  width: 1000%;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menuItem {
  margin-right: 20px;
}

.menuItem:last-child {
  margin-right: 0;
}

.menuItem a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* transition: color 0.2s ease-in-out; */
}

.menuItem a:hover {
  color: #05b1b1;
}
